@import "constants";
@import "react-spinkit.overrides";

* { box-sizing: border-box }

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Dancing Script", "Brush Script MT", cursive;
}

a {
    color: $black;
    text-decoration: none;
}

button[disabled] {
    cursor: not-allowed !important;
}
