@import "constants";

* { box-sizing: border-box }

body {
    font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

h1 {
    font-family: "Oswald", "Brush Script MT", cursive;
}

a {
    color: $black;
    text-decoration: none;
}

button[disabled] {
    cursor: not-allowed !important;
}
